In [7]:
dictionary = {"a":1,"b":2,"c":3}
keys = list(dictionary.keys())
values = list(dictionary.values())
print(keys)
print(values)

['a', 'b', 'c']
[1, 2, 3]

In [8]:
numbers = (1,2,3,4,5,6,7,8,9)
divisible_by_3 = tuple(filter(lambda x: x%3 == 0,numbers))
print(divisible_by_3)

(3, 6, 9)

In [9]:
variable = 42
print(type(variable))

<class 'int'>

In [10]:
my_list = [1,2,3,4,5]
print(my_list[3])

4

In [14]:
my_list = [1,2,3,4,5]
del my_list[2]
print(my_list)

[1, 2, 4, 5]

In [15]:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [16]:
my_list = [1,2,3,4,5]
my_list.pop(2)
print(my_list)

[1, 2, 4, 5]

In [18]:
my_list = [1,2,3,4,5]
del my_list
print(my_list)

NameError: name 'my_list' is not defined

In [19]:
my_list = [1,2,3,4,5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [24]:
import array as arr

my_array = arr.array('i',[1,2,3,4])
print(my_array)
print(my_array[2])
my_array[2] = 5
print(my_array)
del my_array

array('i', [1, 2, 3, 4])
3
array('i', [1, 2, 5, 4])

In [26]:
numbers = [1,2,3,4]
square = [x**2 for x in numbers]
print(square)

[1, 4, 9, 16]

In [27]:
add = lambda x,y: x+y
print(add(5,6))

11

In [28]:
squares = [x**2 for x in range(11) if x%2 == 0]
print(squares)

[0, 4, 16, 36, 64, 100]

In [29]:
string = "hello"
string_list = list(string)
print(string_list)

['h', 'e', 'l', 'l', 'o']

In [31]:
class MyClass:
    def __init__(self,name):
        self.name = name
obj = MyClass("Priyan")
obj.name

'Priyan'

In [33]:
def is_prime(n):
    if n <= 1:
       return False
    for i in range(2,int(n**0.5)+1):
       if n%i == 0:
           return False
    return True
is_prime(7)

True

In [34]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n*factorial(n-1)
factorial(5)

120

In [36]:
import math

number = 16
square_root = math.sqrt(number)
print(square_root)

4.0

In [38]:
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or year % 400 == 0
is_leap_year(2024)

True

In [40]:
def palindrome(s):
    return s == s[::-1]
palindrome("racecar")

True

In [42]:
import pandas as pd

data = {'Employee':['A','B','C','D'],
       'Salary':[10000,20000,30000,40000]}
df = pd.DataFrame(data)
second_largest = df['Salary'].nlargest(2).iloc[-1]
print(second_largest)

30000

In [46]:
import pandas as pd

data = {'Email':['a@example.com','b@example','a@example.com','c@example']}
df = pd.DataFrame(data)
duplicate_mail = df['Email'].value_counts()[df['Email'].value_counts()>1]
print(duplicate_mail)

Email
a@example.com    2
Name: count, dtype: int64

In [49]:
 import pandas as pd
 data = {'Score': [10, 20, 40, 50, 70, 80, 90, 100]}
 df = pd.DataFrame(data)
 bins = [0, 50, 75, 90, 100]
 labels = ['<50', '<75', '<90', '<100']
 df['Bucket'] = pd.cut(df['Score'], bins=bins, labels=labels, right=False)
 cumulative_percentage = df['Bucket'].value_counts(normalize=True).sort_index().cumsum() *100
 print(cumulative_percentage)

Bucket
<50      42.857143
<75      71.428571
<90      85.714286
<100    100.000000
Name: proportion, dtype: float64

In [51]:
I = [1,2,3]
I.append([4,5])
print(I)
I = [1,2,3]
I.extend([4,5])
print(I)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

In [53]:
x = ['ab','cd']
print(len(list(map(list,x))))

2

In [54]:
 import pandas as pd
 import numpy as np
 df = pd.DataFrame({'A': [1, 2, np.nan], 'B': [4, np.nan, 6]})
 missing_values = df.isnull()
 print(missing_values)

       A      B
0  False  False
1  False   True
2   True  False

In [55]:
import pandas as pd
data = {'a':1,'b':2,'c':3}
series = pd.Series(data)
print(series)

a    1
b    2
c    3
dtype: int64

In [56]:
import pandas as pd
empty = pd.DataFrame()
print(empty)

Empty DataFrame
Columns: []
Index: []

In [57]:
 import pandas as pd
 series = pd.Series([1, 2, 2, 3, 3, 3])
 frequency_counts = series.value_counts()
 print(frequency_counts)

3    3
2    2
1    1
Name: count, dtype: int64

In [60]:
import numpy as np
import pandas as pd
array = np.array([[1, 2, 3], [4, 5, 6]])
df = pd.DataFrame(array, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6

In [63]:
 import pandas as pd
 df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar'], 'B': [1, 2, 3, 4]})
 # Group by column 'A' and calculate the sum of 'B' for each group
 grouped = df.groupby('A').sum()
 print(grouped)

     B
A
bar  6
foo  4

In [64]:
 import pandas as pd
 series = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
 df = series.reset_index()
 print(df)

  index  0
0     a  1
1     b  2
2     c  3

In [66]:
import numpy as np
array = np.array([1, 2, 3, 4])
reversed_array = array[::-1]
print(reversed_array)

[4 3 2 1]

In [70]:
for i in range(5):
     print(i)
#for i in xrange(5):
 #    print(i)
#for i in xrange(5):
 #    print(i)

0
1
2
3
4

In [71]:
 import pandas as pd
 arrays = [[1, 1, 2, 2], ['a', 'b', 'a', 'b']]
 index = pd.MultiIndex.from_arrays(arrays, names=('number',
 'letter'))
 df = pd.DataFrame({'value': [1, 2, 3, 4]}, index=index)
 print(df)

               value
number letter
1      a           1
       b           2
2      a           3
       b           4

In [75]:
 import pandas as pd
 df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
 for index, row in df.iterrows():
     print(index, row['A'], row['B'])
 for row in df.itertuples(index=True, name='Pandas'):
     print(row.Index, row.A, row.B)

0 1 3
1 2 4
0 1 3
1 2 4