In [2]:
dictionary = {"A":1,"B":2,"C":3}
keys = list(dictionary.keys())
print(keys)

['A', 'B', 'C']

In [6]:
numbers = (1,2,3,4,5,6,7,8,9)
divisible_by_3 = tuple(filter(lambda x: x%3 == 0,numbers))
print(divisible_by_3)

(3, 6, 9)

In [8]:
variable = 42
print(type(variable))

<class 'int'>

In [10]:
string = "123"
int_number = int(string)
print(int_number)

123

In [12]:
import os
os.remove('file.txt')

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'file.txt'

In [13]:
my_list = [1,2,3,4]
print(my_list[2])

3

In [16]:
my_list = [1,2,3,4]
del my_list[2]
print(my_list)

[1, 2, 4]

In [19]:
my_list = [1,2,3,4]
my_list.remove(2)
print(my_list)

[1, 3, 4]

In [20]:
my_list = [1,2,3,4]
my_list.pop(2)
print(my_list)

[1, 2, 4]

In [21]:
my_list = [1,2,3,4]
del my_list
print(my_list)

NameError: name 'my_list' is not defined

In [23]:
my_list = [1,2,3,4]
my_list.reverse()
print(my_list)

[4, 3, 2, 1]

In [28]:
import array as arr
my_array = arr.array('i',[1,2,3,4])

#Get
print(my_array[2])

#Update
my_array[2] = 5
print(my_array)

#Delete
del my_array
print(my_array)

3
array('i', [1, 2, 5, 4])

NameError: name 'my_array' is not defined

In [30]:
numbers = [1,2,3,4]
#List comprehension
squares = [x**2 for x in  numbers]
print(squares)

[1, 4, 9, 16]

In [31]:
add = lambda x,y:x+y
print(add(5,6))

11

In [32]:
squares = [x**2 for x in range(11) if x%2 == 0]
print(squares)

[0, 4, 16, 36, 64, 100]

In [34]:
string = "hello"
str_list = list(string)
print(str_list)

['h', 'e', 'l', 'l', 'o']

In [36]:
class MyClass:
    def __init__(self,name):
        self.name = name
obj = MyClass("priyan")
obj.name

'priyan'

In [37]:
my_list = [1,2,3,4]
print(my_list[-1])

4

In [41]:
def prime(n):
    if n <= 1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i == 0:
            return False
    return True
prime(7)

True

In [44]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n*factorial(n-1)
factorial(5)

120

In [45]:
import math
number = 16
sqrt = math.sqrt(number)
print(sqrt)

4.0

In [46]:
def leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or year % 400 == 0
leap_year(2024)

True

In [50]:
def palindrome(s):
    return s == s[::-1]
palindrome("racecar")

True

In [52]:
import pandas as pd

data = {"Employees":["A","B","C","D"],
        "Salaries":[10000,20000,30000,40000]}
df = pd.DataFrame(data)
second_highest_salary = df["Salaries"].nlargest(2).iloc[-1]
print(second_highest_salary)

30000

In [56]:
import pandas as pd
data = {"Emails":["a@example.com","b@example.com",
                  "a@example.com","c@example.com"]}
df = pd.DataFrame(data)
duplicate = df["Emails"].value_counts()[df["Emails"].value_counts()>1]
print(duplicate)

Emails
a@example.com    2
Name: count, dtype: int64

In [60]:
import pandas as pd
data = {"Score":[10,20,30,40,50,60,70,80,90,100]}
df = pd.DataFrame(data)
bins = [0,50,75,90,100]
labels = ["<50","<75","<90","<100"]
df["Bucket"] = pd.cut(df["Score"],bins = bins, labels = labels, right = False)
cumulative_percentage = df["Bucket"].value_counts(normalize = True).sort_index().cumsum()*100
print(cumulative_percentage)

Bucket
<50      44.444444
<75      77.777778
<90      88.888889
<100    100.000000
Name: proportion, dtype: float64